//Created by lockonDaniel on 9/8/16.
md-card(flex)
    md-card-content


        h2.md-display-2 {{'UDN_CATALOG.title' | translate}}


        div(flex layout-lt-md='column' layout-gt-md='row')

            div(flex layout='column' layout-align='space-around stretch')
                md-autocomplete(
                md-selected-item='vm.udn'
                md-selected-item-change='vm.selectedItemChange(vm.udn)'
                md-items = 'item in vm.search_items'
                md-item-text='item.agencia'
                md-min-length=0
                md-search-text-change='vm.lookup(vm.searchText)'
                md-search-text='vm.searchText'
                md-menu-class='autocomplete-custom-template'
                md-floating-label='{{"UDN_CATALOG.lookup" | translate}}'
                )
                    md-item-template
                        span.item-title()
                            md-icon(md-font-icon='zmdi zmdi-truck')
                            span {{item.zona}} - {{item.agencia}}

                md-virtual-repeat-container(flex id='vertical_container')
                    div(flex md-virtual-repeat='item in vm.udn_list')
                        md-list(flex)
                            div(flex ng-click='vm.clickRepeater(item)')
                                md-list-item(flex md-ink-ripple)
                                    md-icon(md-font-icon="zmdi zmdi-boat")
                                    span {{item.zona}} - {{item.agencia}}
                                md-divider

            div(flex layout-align='center stretch' layout='column')
                h3.md-display-1() {{'UDN_CATALOG.info' | translate}}
                form(name='inputForm')
                    md-input-container.md-block
                        label {{ 'UDN_CATALOG.zone' | translate }}
                        input(type='text' name='zona' ng-model='vm.udn.zona' ng-required='true')
                        div(ng-messages='inputForm.zona.$error')
                            div(ng-message='required') {{'MAIN.GENERAL.REQUIRED_FIELD' | translate}}

                    md-input-container.md-block
                        label {{ 'UDN_CATALOG.agency' | translate }}
                        input(type='text' name='agencia' ng-model='vm.udn.agencia' ng-required='true')
                        div(ng-messages='inputForm.agencia.$error')
                            div(ng-message='required') {{'MAIN.GENERAL.REQUIRED_FIELD' | translate}}

                    md-input-container.md-block
                        label {{ 'UDN_CATALOG.center' | translate }}
                        input(type='text' name='centro' ng-model='vm.udn.centro' ng-required='true')
                        div(ng-messages='inputForm.centro.$error')
                            div(ng-message='required') {{'MAIN.GENERAL.REQUIRED_FIELD' | translate}}

                    md-input-container.md-block
                        label {{ 'UDN_CATALOG.address' | translate }}
                        input(type='text' name='centro' ng-model='vm.udn.direccion' ng-required='true')
                        div(ng-messages='inputForm.direccion.$error')
                            div(ng-message='required') {{'MAIN.GENERAL.REQUIRED_FIELD' | translate}}

                    md-input-container.md-block
                        label {{ 'UDN_CATALOG.phone' | translate }}
                        input(type='text' name='telefono' ng-model='vm.udn.telefono' ng-required='true')
                        div(ng-messages='inputForm.telefono.$error')
                            div(ng-message='required') {{'MAIN.GENERAL.REQUIRED_FIELD' | translate}}

                div(layout='row' layout-align='end end')
                    md-button.md-raised.md-primary(ng-if='vm.udn.id!=null && vm.udn.id!=undefined' ng-disabled='inputForm.$invalid' ng-click='vm.update()') {{ "MAIN.BUTTONS.UPDATE" | translate}}
                    md-button.md-raised.md-primary(ng-if='vm.udn.id==null || vm.udn.id==undefined' ng-disabled='inputForm.$invalid' ng-click='vm.create()') {{ "MAIN.BUTTONS.SUBMIT" | translate}}
                    md-button.md-raised.md-primary(ng-click='vm.cancel()') {{'MAIN.BUTTONS.CLEAR_FIELDS' | translate}}
                    md-button.md-raised.md-warn(ng-if='vm.udn.id!=null && vm.udn.id!=undefined' ng-click='vm.remove()') {{'MAIN.BUTTONS.DELETE' | translate}}