//
   Created by lockonDaniel on 9/8/16.
md-card(flex)
    md-card-content


        h2.md-display-2 {{'Consumable_Catalog.title' | translate}}


        div(flex layout-lt-md='column' layout-gt-md='row')
            div(flex layout='column' layout-align='space-around stretch')
                md-autocomplete(
                md-selected-item='vm.catalogo_insumo'
                md-selected-item-change='vm.selectedItemChange(vm.catalogo_insumo)'
                md-items = 'item in vm.search_items'
                md-item-text='item.descripcion'
                md-min-length=3
                md-search-text-change='vm.lookup(vm.searchText)'
                md-search-text='vm.searchText'
                md-menu-class='autocomplete-custom-template'
                md-floating-label='{{"Consumable_Catalog.lookup" | translate}}'
                )
                    md-item-template
                        span.item-title()
                            md-icon(md-font-icon='zmdi zmdi-truck')
                            span {{item.descripcion}}
                md-virtual-repeat-container(flex id='vertical_container')
                    div(flex md-virtual-repeat='item in vm.catalogo_insumo_list')
                        md-list(flex)
                            div(flex ng-click='vm.clickRepeater(item)')
                                md-list-item(flex md-ink-ripple)
                                    md-icon(md-font-icon="zmdi zmdi-boat")
                                    span {{item.descripcion}}
                                md-divider

            div(flex layout-align='start stretch' layout='column')
                h3.md-display-1() {{'Consumable_Catalog.info' | translate}}
                form(name='inputForm')
                    md-input-container.md-block
                        label {{ 'Consumable_Catalog.quantity' | translate }}
                        input(type='number' name='cantidad' ng-model='vm.catalogo_insumo.cantidad' ng-required='true' min='0')
                        div(ng-messages='inputForm.cantidad.$error')
                            div(ng-message='min') {{'MAIN.GENERAL.MIN_NUMBER' | translate}} 0
                            div(ng-message='required') {{'MAIN.GENERAL.REQUIRED_FIELD' | translate}}
                    md-input-container.md-block
                        label {{ 'Consumable_Catalog.description' | translate }}
                        input(type='text' name='descripcion' ng-model='vm.catalogo_insumo.descripcion' ng-required='true')
                        div(ng-messages='inputForm.descripcion.$error')
                            div(ng-message='required') {{'MAIN.GENERAL.REQUIRED_FIELD' | translate}}
                    md-input-container.md-block
                        label {{ 'Consumable_Catalog.cost' | translate }}
                        input(type='number' name='costo' ng-model='vm.catalogo_insumo.costo' ng-required='true' min='0')
                        div(ng-messages='inputForm.costo.$error')
                            div(ng-message='required') {{'MAIN.GENERAL.REQUIRED_FIELD' | translate}}
                            div(ng-message='min') {{'MAIN.GENERAL.MIN_NUMBER' | translate}} 0
                    md-input-container.md-block
                        label {{ 'Consumable_Catalog.type' | translate }}
                        md-select(ng-model='vm.catalogo_insumo.tipo' ng-required='true')
                            md-option(ng-repeat='tipo in vm.tipos' ng-value='tipo.value') {{tipo.display}}
                    md-input-container.md-block
                        label {{ 'Consumable_Catalog.keyword' | translate }}
                        input(type='text' name='palabra_clave' ng-model='vm.catalogo_insumo.palabra_clave' ng-required='true')
                        div(ng-messages='inputForm.palabra_clave.$error')
                            div(ng-message='required') {{'MAIN.GENERAL.REQUIRED_FIELD' | translate}}
                    md-input-container.md-block
                        label {{ 'Consumable_Catalog.zone' | translate }}
                        md-select(ng-model='vm.catalogo_insumo.zona' ng-required='true')
                            md-option(ng-repeat='zona in vm.zonas' ng-value='zona.value') {{zona.display}}
                    md-input-container.md-block
                        label {{ 'Consumable_Catalog.category' | translate }}
                        md-select(ng-model='vm.catalogo_insumo.categoria' ng-required='true')
                            md-option(ng-repeat='categoria in vm.categoria_list' ng-value='categoria.id') {{categoria.nombre}}
                    md-input-container.md-block
                        label {{ 'Consumable_Catalog.provider' | translate }}
                        md-select(ng-model='vm.catalogo_insumo.proveedor' ng-required='true')
                            md-option(ng-repeat='proveedor in vm.proveedor_list' ng-value='proveedor.id') {{proveedor.razon_social}}


                div(layout='row' layout-align='end center')
                    md-button.md-raised.md-primary(ng-if='vm.catalogo_insumo.id!=null && vm.catalogo_insumo.id!=undefined' ng-disabled='inputForm.$invalid' ng-click='vm.update()') {{ "MAIN.BUTTONS.UPDATE" | translate}}
                    md-button.md-raised.md-primary(ng-if='vm.catalogo_insumo.id==null || vm.catalogo_insumo.id==undefined' ng-disabled='inputForm.$invalid' ng-click='vm.create()') {{ "MAIN.BUTTONS.SUBMIT" | translate}}
                    md-button.md-raised.md-primary(ng-click='vm.cancel()') {{'MAIN.BUTTONS.CLEAR_FIELDS' | translate}}
                    md-button.md-raised.md-warn(ng-if='vm.catalogo_insumo.id!=null && vm.catalogo_insumo.id!=undefined' ng-click='vm.remove()') {{'MAIN.BUTTONS.DELETE' | translate}}